@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Universal CSS */
:root {
    --main: #1e90ff;
  }
*  {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'poppins', sans-serif;
}

.container {
    max-width: 1321px;
    margin: auto;
}

img {
    width: 100%;
}


/* banner section */
.banner-section {
    background-color: #161616;
    border-radius: 30px;
    margin: 40px auto 130px;
    display: flex;
    padding: 33px 79px 0px 106px;
    color: #ffffff;
    justify-content: center;
    align-items: center;
}

.banner-info {
    width: 50%;
}

.banner-image {
    width: 50%;
}

.banner-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
}

.banner-details {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
    margin: 20px 0px  30px;
}

.banner-btn {
    color: #ffffff;
    background-color: var(--main);
    padding: 15px 26px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}

.banner-btn:hover{
    animation: rubberBand linear 1s;
  }

.banner-image img {
    width: 581px;
    vertical-align: bottom;
}

/* Blog section */
.contents {
    display: grid;
    grid-template-columns: 312px 1fr;
    grid-column-gap: 24px;
}

.contents .banner-btn{
    display: none;
}

.side-menu  {
    width: 312px;
    height: 312px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    padding: 30px;
    justify-content: space-between;
    box-sizing: border-box;
    border-radius: 10px;
}

/* .side-menu button {
    height: 64px;
    border-radius: 10px;
    background-color: #ffffff;
    border: none;
    font-size: 20px;
    display: none;
} */
.side-menu a {
    text-decoration: none;
    color: #161616;
    width: 100%;
    text-align: center;
    background: white;
    font-size: 20px;
    padding: 18px 0px;
    border-radius: 10px;
    transition: 0.5s;
    /* border: 1px solid #e8e8e8; */
}

.active, .side-menu a:hover {
    background-color: var(--main) !important;
    color: #ffffff !important;
}

.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.blog img {
    width: 100%;
    vertical-align: bottom;
}

.blog-content {
    padding: 20px;
    border: 1px solid #e8e8e8 ;
    border-top: none;
    border-radius: 0px 0px 10px 10px;
    box-sizing: border-box;
}

.blog-title {
    font-size: 18px;
    font-weight: 500;
}

.blog-content button {
    width: 100px;
    height: 32px;
    border: 1px solid #161616;
    border-radius: 5px;
    font-size: 16px;
    color: #161616;
    font-weight: 400;
    margin-bottom: 15px;
    background-color: #ffffff;
}


.info-box {
    display: flex;
    margin-top: 20px;
    opacity: 0.6;
}

.info-box i {
    margin-right: 5px;
}

.time {
    margin-right: 30px;
}

/* all match paeg */
.all-matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.match {
    margin: 24px 12px;
    padding: 53px 30px;
    margin-top: 0px;
    border: 1px solid #e8e8e8;
    text-align: center;
    border-radius: 10px;
}

.match .flags {
    display: flex;
    justify-content: center;
    align-items: center;
}

.match h3 {
    font-weight: 600;
    margin: 20px 0px 10px;
}

.match p {
    margin: 0px;
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 300;
}

.flags img {
    width: auto;
}

.flags span {
    margin: 0px 10px;
    font-weight: 500;
}

/* Footer Section */
footer {
    background-color: #161616;
    color: #ffffff;
    font-weight: 400;
    text-align: center;
    padding: 130px 0px;
    margin-top: 130px;
}

footer hr {
    width: 100%;
    opacity: 0.1;
    margin: 50px 0px;
}

footer ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer  ul li {
    cursor: pointer;
    margin: 10px;
}

footer .social-media {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    margin-top: 30px;
}

footer .social-media a {
    color: #ffffff;
    padding: 7px;
}

footer .social-media a:hover {
    color: var(--main);
}

/* animation */

@keyframes rubberBand {
    from {
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      transform: scale3d(0.75, 1.50, 1);
    }
  
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
      transform: scale3d(1.05, .95, 1);
    }
  
    to {
      transform: scale3d(1, 1, 1);
    }
  }
  
  /* .rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }
   */

/* responsive css */
@media screen and (max-width: 1400px) {
    .container {
        width: 90%
    }
    .banner-image img {
        width: 100%;
    }

    .banner-title {
        font-size: 40px;
        line-height: 45px;
    }
    .flags img {
        width: 100%;
    }
    .all-matches {
        grid-template-columns: repeat(2, 1fr);
    }
    
  }

@media screen and (max-width: 1024px) and (min-width: 769px) {
    .banner-section {
        padding: 33px 30px 0px 55px;
    }
    .banner-title {
        font-size: 36px;
        line-height: 38px;
    }
    .banner-details {
        font-size: 14px;
        line-height: 23px;
        margin: 10px 0px 8px;
    }
    .banner-btn {
        font-size: 14px;
        padding: 10px 19px;
    }
}


  @media screen and (max-width: 768px) and (min-width: 481px) {
    .contents .banner-btn{
        display: inline;
        width: 131px;
        margin: 50px auto 0px;
    }

    .banner-section {
        padding: 33px 30px 0px 55px;
        margin-bottom: 40px;
    }
    .banner-title {
        font-size: 36px;
        line-height: 38px;
    }
    .banner-details {
        font-size: 14px;
        line-height: 23px;
        margin: 10px 0px 8px;
    }
    .banner-btn {
        font-size: 14px;
        padding: 10px 19px;
    }
    /* blog section */
    .contents {
        display: flex;
        flex-direction: column;
    }
    .side-menu  {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 30px 0px;
        border-radius: 10px;
        grid-column-gap: 22px;
    }

    .side-menu a {
        border: 1px solid #e8e8e8;
    }

    .main-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .all-matches {
        grid-template-columns: repeat(2, 1fr);
    }

    footer {
        margin-top: 70px;
        padding: 70px 0px;
    }
  }

  @media screen and (max-width: 480px) {
    .banner-section {
        display: block;
        padding: 40px;
        padding-bottom: 0px;
        text-align: center;
        margin-bottom: 10px;
    }
    .banner-info {
        width: 100%;
    }
    .banner-image {
        width: 100%;
        display: block;
        margin: 20px;
        margin-bottom: 0px;
    }
    .banner-title {
        font-size: 22px;
        line-height: 25px;
    }
    /* blog section */
    .contents {
        display: flex;
        flex-direction: column;
    }
    .side-menu  {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        display: flex;
        /* grid-template-columns: repeat(3, 1fr); */
        padding: 30px 0px;
        border-radius: 10px;
        grid-column-gap: 22px;
    }

    .side-menu a {
        border: 1px solid #e8e8e8;
        margin-bottom: 20px;
    }

    .main-content {
        grid-template-columns: 1fr;
    }

    .all-matches {
        grid-template-columns: 1fr;
    }

    footer {
        margin-top: 70px;
        padding: 70px 0px;
    }
    
    footer ul {
        margin: 0px;
        padding: 0px;
        list-style-type: none;
        width: 80%;
        margin: auto;
        display: block;
    }

    footer  ul li {
        margin: 20px 0px;
    }

  }